.viewport {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
}

/* Home Page */
.landing-grid {
    background: #1e130c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #9a8478, #1e130c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #9a8478, #1e130c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
}

.landing-avatar {
    height: 200px;
    margin-top: 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-name: reset, fade-in;
    animation-duration: .3s;
    animation-timing-function: ease-in;
    transition: .2s;
}

.landing-avatar:hover {
    transform: scale(1.03);
}

.landing-avatar:active {
    transform: scale(.9);
}

.banner-text {
    background-color: rgba(0, 0, 0, 0.6);
    width: 75%;
    margin: auto;
    border-radius: 10px;
    animation-name: reset, fade-in;
    animation-duration: .6s;
    animation-timing-function: ease-in;
}

.banner-text h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text p {
    font-size: 17px;
    padding-top: 10px;
}

.proficiencies {
    padding: 5px;
}

.social-links {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    transition: transform .2s;
}

.social-links i {
    color: white;
    font-size: 1em;
    margin: 15px;
    transition: transform .2s;
}

.social-links i:hover {
    transform: scale(1.03);
}

.social-links i:active {
    transform: scale(.9);
}

/* Projects Page */
.tab-header {
    background: #1D2B64;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8CDDA, #1D2B64);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.projects-flexWrap {
    display: flex;
    flex-wrap: wrap;
}

.projectCard {
    transition: transform .2s;
    animation-name: reset, fade-in;
    animation-duration: .3s;
    animation-timing-function: ease-in;
}

.projectCard:hover {
    transform: scale(1.03);
}

.projectCard:active {
    transform: scale(.9);
}

.contact-header {
    background: #aa4b6b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact-body {
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    color: #000;
    margin-bottom: 20px;
    margin-top: 115px;
}

.contact-grid h2 {
    font-family: 'Anton', sans-serif;
}

.contact-grid p {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold
}

.contact-grid hr {
    border-top: 5px dotted #000;
    width: 50%;
    margin: auto;
}

.contact-avatar {
    height: 200px;
    margin-top: 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.contact-avatar-bkground {
    border-radius: 15px;
    background: #aa4b6b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.resume-header {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.aboutMe-header {
    background: #6D6027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D3CBB8, #6D6027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D3CBB8, #6D6027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hello {
    width: 60%;
    display: block;
    margin: 0 auto;
    animation-name: reset, fade-in;
    animation-duration: .6s;
    animation-timing-function: ease-in;
    transition: .2s;
}

.hello:hover {
    transform: scale(1.01);
}

.thats_me {
    display: block;
    margin: 0 auto;
    width: 80%;
    box-shadow: 10px 10px 5px grey;
    animation-name: reset, fade-in;
    animation-duration: .3s;
    animation-timing-function: ease-in;
    transition: .2s;
}

.thats_me:hover {
    transform: scale(1.01);
}

.thats_me:active {
    transform: scale(.9);
}

.aboutMe_bio {
    display: block;
    margin: 0 auto;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    /* If You are reading my font size, I chose this size to be the most level with my picture @1366px width, or 35% of the world, the more you know 😉*/
    font-size: 16px;
    text-indent: 60px;
    line-height: 2;
    animation-name: reset, fade-in;
    animation-duration: .6s;
    animation-timing-function: ease-in;
    transition: .2s;
}

.aboutMe_bio:hover {
    transform: scale(1.01);
}

/* Resume CSS */
.resume {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.clear {
    clear: both;
}

.resume-background {
    background: #181818;
}

.cv {
    width: 90%;
    max-width: 800px;
    background: #f3f3f3;
    margin: 30px auto;
    box-shadow: 10px 10px 5px black;
    transition: .2s;
}

.cv:hover {
    transform: scale(1.05);
}

.cv:active {
    transform: scale(.9);
}

.mainDetails {
    padding: 25px 35px;
    border-bottom: 2px solid #cf8a05;
    background: #ededed;
}

.name h1 {
    font-size: 2.5em;
    font-weight: 700;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    margin-bottom: -6px;
}

.name h2 {
    font-size: 2em;
    margin-left: 2px;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

.mainArea {
    padding: 0 40px;
}

.name {
    float: left;
}

.contactDetails {
    float: right;
}

.contactDetails ul {
    list-style-type: none;
    font-size: 0.9em;
    margin-top: 2px;
}

.contactDetails ul li {
    margin-bottom: 3px;
    color: #444;
}

/* Details Fade */
.contactDetails ul li a,
a[href^=tel] {
    color: #444;
    text-decoration: none;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.contactDetails ul li a:hover {
    color: #cf8a05;
}


section {
    border-top: 1px solid #dedede;
    padding: 20px 0 0;
}

section:first-child {
    border-top: 0;
}

section:last-child {
    padding: 20px 0 10px;
}

.sectionTitle {
    float: left;
    width: 25%;
}

.sectionContent {
    float: right;
    width: 72.5%;
}

.sectionTitle h1 {
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 1.5em;
    color: #cf8a05;
}

.sectionContent h2 {
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin-bottom: -2px;
}

.subDetails {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 3px;
}

.keySkills {
    list-style-type: none;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    margin-bottom: 20px;
    font-size: 1em;
    color: #444;
}

.keySkills ul li {
    margin-bottom: 3px;
}

/* Resume Responsivness */
@media all and (min-width: 602px) and (max-width: 800px) {
    .keySkills {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media all and (max-width: 601px) {
    .cv {
        width: 95%;
        margin: 10px auto;
        min-width: 280px;
    }

    .headshot {
        display: none;
    }

    .name,
    .contactDetails {
        float: none;
        width: 100%;
        text-align: center;
    }

    .sectionTitle,
    .sectionContent {
        float: none;
        width: 100%;
    }

    .sectionTitle {
        margin-left: -2px;
        font-size: 1.25em;
    }

    .keySkills {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media all and (max-width: 480px) {
    .mainDetails {
        padding: 15px 15px;
    }

    section {
        padding: 15px 0 0;
    }

    .mainArea {
        padding: 0 25px;
    }


    .keySkills {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    .name h1 {
        line-height: .8em;
        margin-bottom: 4px;
    }
}

@media print {
    .cv {
        width: 100%;
    }
}

@-webkit-keyframes reset {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes reset {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes reset {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Resume on render */
.instaFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;

    -moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: ease-in;

    animation-name: reset, fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

.quickFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in;

    -moz-animation-name: reset, fade-in;
    -moz-animation-duration: 2.5s;
    -moz-animation-timing-function: ease-in;

    animation-name: reset, fade-in;
    animation-duration: 2.5s;
    animation-timing-function: ease-in;
}

.delayOne {
    -webkit-animation-delay: 0, .5s;
    -moz-animation-delay: 0, .5s;
    animation-delay: 0, .5s;
}

.delayTwo {
    -webkit-animation-delay: 0, 1s;
    -moz-animation-delay: 0, 1s;
    animation-delay: 0, 1s;
}

.delayThree {
    -webkit-animation-delay: 0, 1.5s;
    -moz-animation-delay: 0, 1.5s;
    animation-delay: 0, 1.5s;
}

.delayFour {
    -webkit-animation-delay: 0, 2s;
    -moz-animation-delay: 0, 2s;
    animation-delay: 0, 2s;
}

.delayFive {
    -webkit-animation-delay: 0, 2.5s;
    -moz-animation-delay: 0, 2.5s;
    animation-delay: 0, 2.5s;
}